<% provide(:title, "Edit user") %>
<h1>更新设置</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :用户名 %>
      <%= f.text_field :用户名, class: 'form-control' %>

      <%= f.label :邮箱 %>
      <%= f.email_field :邮箱地址, class: 'form-control' %>

      <%= f.label :密码 %>
      <%= f.password_field :输入密码（长度至少为6）, class: 'form-control' %>

      <%= f.label :确认密码, "Confirmation" %>
      <%= f.password_field :再次输入密码, class: 'form-control' %>

      <%= f.submit "保存修改", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>