<% provide(:title, '注册') %>
<h1>注册</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :用户名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :邮箱 %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :密码 %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :密码确认 %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "创建我的账户", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>