<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "在这里写下你的新博文..." %>
  </div>
  
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <p>
  </p>
  <%= f.submit "发布", class: "btn btn-primary btn-lg" %>
  <p>
  </p>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('最大支持5MB文件，请上传更小的文件.');
    }
  });
</script>